$black: #000;
$white: #fff;
$red: #fc5b57;
$yellow: #e5bf3c;
$green: #57c038;
$dark-gray: #111;
$medium-gray: #333;
$light-gray: #999;

/* Mobile first queries */

/* Larger than mobile */
// @media (min-width: 400px) {}

/* Larger than phablet */
// @media (min-width: 550px) {}

/* Larger than tablet */
// @media (min-width: 750px) {}

/* Larger than desktop */
// @media (min-width: 1000px) {}

/* Larger than Desktop HD */
// @media (min-width: 1200px) {}

.terminal-window {
  border-radius: 5px;
  border: 1px solid $light-gray;
  min-width: 252px;
  overflow: hidden;
  display: block;
  box-shadow: 1px 1px 20px $dark-gray;
  text-align: justify;

  &__header {
    background-color: $medium-gray;
    padding: 3px 7px;
    border-bottom: 1px solid $black;
    border-radius: 5px 5px 0 0;
  }

  &__header-button {
    padding: 0;
    margin: 0 3px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid $medium-gray;

    &.close {
      background-color: $red;
    }

    &.min {
      background-color: $yellow;
    }

    &.max {
      background-color: $green;
    }
  }

  &__body {
    width: 90%;
    display: block;
    min-height: 100px;
    background-color: $black;
    padding: 5%;
  }
}
