@import "./variables.scss";

/* Mobile first queries */

/* Larger than mobile */
// @media (min-width: 400px) {}

/* Larger than phablet */
// @media (min-width: 550px) {}

/* Larger than tablet */
// @media (min-width: 750px) {}

/* Larger than desktop */
// @media (min-width: 1000px) {}

/* Larger than Desktop HD */
// @media (min-width: 1200px) {}

.editor-window {
  position: relative;
  text-align: justify;
  border-radius: 5px;
  border: 1px solid $gray-delta;
  min-width: 252px;
  overflow: hidden;
  display: block;
  box-shadow: 1px 1px 20px $gray-alpha;

  &__header {
    background-color: $gray-gama;
    padding: 3px 7px;
    border-bottom: 1px solid $black;
    border-radius: 5px 5px 0 0;
    position: relative;
  }

  &__buttons-bar {
    width: 25%;
    position: absolute;
    top: 0;
    text-align: left;
    padding: 6px 0;
  }

  &__window-title {
    width: 100%;
    text-align: center;
  }

  &__header-button {
    padding: 0;
    margin: 0 3px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid $gray-beta;

    &.close {
      background-color: $red;
    }

    &.min {
      background-color: $yellow;
    }

    &.max {
      background-color: $green;
    }
  }

  &__body {
    width: 100%;
    display: block;
    min-height: 100px;
    background-color: $gray-beta;
    padding: $tab-height 0 0 0;
  }
}

.editor-content {
  padding: 10px 25px 10px 30px;
  display: flex;
  background-color: $gray-alpha;
  max-height: 366px;
  overflow-y: scroll;

  &__sidebar {
    background-color: $gray-beta;
  }
}

.editor-tab {
  padding: 3px 25px;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: $tab-height;
  background-color: $gray-alpha;
  box-shadow: 0 2px 2px $black;
}
