// ----------------------
// Variables
// ----------------------

// Basic Color
$black: #0e0d0e;
$white: #fff;
$light-blue: #dfdee5;
$gray: #866c76;
$light-gray: #4e463f;
$dark-gray: #36302e;

// Theme Colors
$cod-gray: #1e1e1e;
$pink: #ce9178;
$straw: #d7ba7d;
$havelock-blue: #569cd6;
$anakiwa: #9cdcfe;
$coriander: #b5cea8;

// Font Families
$bold-font-family: Teko, sans-serif;
$light-font-family: Rajdhani, sans-serif;

$title-font-family: $bold-font-family;
$body-font-family: $light-font-family;

// Font Colors
$light-font-color: $light-blue;
$medium-font-color: $gray;
$dark-font-color: $black;

// Font Sizes
$font-size-xsmall: 8px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-xlarge: 22px;
$font-size-xxlarge: 30px;
$font-size-xxxlarge: 34px;
